extends layouts/_default

block content
    .container
        h2 Technologies:
        ul
            each val in tech
                li
                    a(href=val.href, target=val.external ? '_blank' : '')= val.name
