doctype html
html
    head
        title Qualy Boilerplate
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content="meta desc")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", type="text/css", href="css/main.css")

    body
        .container
            //- put your content here
            h1 Qualy Boilerplate
            img(src="img/qualy.png", alt="Qualy Boilerplate")

            - var tech = ['ES6', 'Gulp', 'Stylus', 'Jade', 'Browsersync', 'Husky Hooks', 'JSCS']

            h2 Technologies:

            ul
                each val in tech
                    li= val

        script(type="text/javascript", src="js/main.js")
