doctype html
html
    include inc/_head
    body
        include inc/_header
        main(class="main", id="main", role="main")
            block content
        include inc/_footer
        include inc/_scripts
