@import 'settings/**/*'
@import 'tools/**/*'
@import 'generic/**/*'
@import 'base/**/*'
@import 'objects/**/*'
@import 'components/**/*'
@import 'trumps/**/*'

@import "kouto-swiss"
@import "jeet"
normalize()

main-color = red

body
    color main-color

.container
    center(800px)
